<div class="container">
  <h1>ANAGRAFICHE CLIENTI</h1>
  <br>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="d-flex">
    <%= link_to 'Nuovo Cliente', new_user_path, class:"btn btn-warning" %>
  </div>

  <div class="d-flex justify-content-end">
  <%= form_tag users_path, method: :get, class: "form-inline" do %>
    <div class="form-group mx-sm-3 mb-2">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Cerca cliente" %>
    </div>
    <%= submit_tag "Cerca", class: "btn btn-primary mb-2" %>
  <% end %>
</div>


  </br>
  <div class="row">
    <div class="col-12">
      <table class="table" >
        <thead class="thead-dark">
  <!-- Table headers -->
  <tr>
    <th><%= link_to "Nome", :sort => "name"%> </th>
    <th><%= link_to "Cognome", :sort => "surname"%> </th>
    <th><%= link_to "Email", :sort => "email"%> </th>
    <th>Ordini</th>
    <th colspan="2"></th>
  </tr>
        </thead>
        <tbody>
  <!-- Table rows -->
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
      <td><%= link_to user.orders.count, show_orders_user_path(user) %></td>
      <td><%= link_to 'Modifica', edit_user_path(user), class: "btn btn-dark" %></td>
      <td><%= button_to 'Elimina', user_path(user), method: :delete, class: "btn btn-danger" %></td>
      <!-- <td><%= link_to 'Elimina', user, method: :delete, data: { confirm: 'Sei sicuro?'} %></td> -->
    </tr>
  <% end %>
        </tbody>
</table>
      <div class="d-flex justify-content-center">
        <%= will_paginate @users %>
      </div>
      <br>
    <div class="text-center">
      <%= page_entries_info @users %>
    </div>
      <br>
      <br>
    </div>
  </div>
</div>

