<div class="container">
  <div class="d-flex">
    <h2>Modifica Articolo</h2>
  </div>

  <%= form_with model: @item, id: dom_id(@item, "form"), class: "table min-w-full", method: :patch do |form| %>
    <div>
      <%= form.label :Nome %>
      <br>
      <%= form.text_field :name %>
      <%= @item.errors[:name].first if @item.errors[:name].any? %>
    </div>

    <div>
      <%= form.label :Descrizione %>
      <br>
      <%= form.text_field :description %>
      <%= @item.errors[:description].first if @item.errors[:description].any? %>
    </div>

    <div>
      <%= form.label :Stock %>
      <br>
      <%= form.number_field :stock%>
      <%= @item.errors[:stock].first if @item.errors[:stock].any? %>
    </div>
    <br>

    <div class="inline">
      <td><%= link_to 'Annulla', items_path, class: "btn btn-light" %></td>
      <td><%= form.submit 'Conferma', class: 'btn btn-primary' %></td>
    </div>
  <% end %>
</div>
